<div class="w-full h-full p-6 pt-2 flex space-x-4 justify-center">
    <p>
        <span
            class="exchange_name p-2 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-bottom bg-no-repeat bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size]">
            USD/UAH:</span>
        <span
            class="inline-block exchange_rate p-2 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-bottom bg-no-repeat bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size]">{{
            data[0].rateBuy }} / {{ data[0].rateSell }}
        </span>
    </p>
    <p>
        <span
            class="exchange_name p-2 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-bottom bg-no-repeat bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size]">
            EUR/UAH:</span>
        <span
            class="inline-block exchange_rate p-2 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-bottom bg-no-repeat bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size]">{{
            data[1].rateBuy }} / {{ data[1].rateSell }}
        </span>
    </p>
    <p>
        <span
            class="exchange_name p-2 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-bottom bg-no-repeat bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size]">
            EUR/USD:</span>
        <span
            class="inline-block exchange_rate p-2 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-bottom bg-no-repeat bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size]">{{
            data[2].rateBuy }} / {{ data[2].rateSell }}
        </span>
    </p>
</div>